.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.header-container {
    max-width: 1158px;
    width: 100%;
    margin: 0 auto;
    padding-left: 156px;
    padding-right: 156px;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #fafafa;
}
.main {
  width: 100%;
  margin: 0 auto;
  padding: 25.5px 156px 25.5px 156px;
  display: flex;
  flex-direction: center;
}
.web {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.studio {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.logo,
.logo:visited {
  margin-right: 76px;
  text-decoration: none;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin: 0 332px 0 0;
  list-style: none;
}
.nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  text-decoration: none;
  color: #404bbf;
}
.contact-info a {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-decoration: none;
}

.contact-info {
  display: flex;
  gap: 40px;
  color: #434456;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-style: inherit;
  text-decoration: none;
  white-space: nowrap;
}

.contact-info a:hover,
.contact-info a:focus {
  color: #404bbf;
  text-decoration: none;
}

.hero {
  width: 100%;
  height: 600px;
  background-color: #2e2f42;
  color: white;
  text-align: center;
}

.hero h1 {
  max-width: 496px;
  margin: 0 auto;
  color: #ffff;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  padding-top: 188px;
}

.hero button {
  width: 169px;
  height: 56px;
  margin-top: 48px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  border-radius: 4px;
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000026;
}
.hero button:hover,
.hero button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.section1 {
  max-width: 1158px;
  width: 100%;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px; 
}

.section1 ul {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 24px;
}

.section1 h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  list-style: none;
  margin-bottom: 8px;
}

.section1 p {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-top: 8px;
  width: 264px;
  height: 72px;
}

.section2 {
  width: 100%;
  height: 732px;
  background-color: #f4f4fd;
}
.section2 .container {
  max-width: 1158px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-title {
  color: #2e2f42;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-top: 120px;
  margin-bottom: 72px;
}
.team-list {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0 0 120px 0;
}
.card {
  width: 264px;
  height: 380px;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  padding-bottom: 32px;
  list-style: none;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
}

.card h3 {
  margin: 32px 0 8px;
}

.card p {
  margin: 0;
}

.section4 ul {
  list-style: none;
}
.section4 .container {
  max-width: 1158px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cv-title {
  color: #2e2f42;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-top: 120px;
  margin-bottom: 72px;
}
.cv-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0 0 120px 0;
  max-width: 1128px;
  row-gap: 48px;
}

.text-box {
  width: 360px;
  height: 120px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin: 0 auto;
}

.section4 h4 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  padding-top: 32px;
  padding-left: 16px;
  margin: 0 auto;
}
.cv-list img {
    display: block;
    width: 100%;
    height: auto;
}

.section4 p {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 8px 0 32px 16px;
  margin: 0 auto;
}
.footer .container {
  width: 100%;
  padding-left: 156px;
}

.altstudio {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer p {
  font-size: 16px;
  width: 264px;
  font-family: "Roboto", sans-serif;
  color: #f4f4fd;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-top: 16px;
}
